// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

//colors

$moonfarmer-navy: #1C1E2A;

$text-width: 500px;

//typography

  //font stacks
  $serif: "Palatino", "Georgia", serif;
  $sans: "Trebuchet MS", "Geneva", sans-serif;



// Body Styles
body,
html,
.body {
  background: $moonfarmer-navy !important;

}

.outer-box{
  background: $moonfarmer-navy;
}

h1 {
  font-family: $sans;
  font-color: $moonfarmer-navy;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1.2;
}

h2 {
  font-family: $sans;
  color: $moonfarmer-navy;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1.2;
  max-width: $text-width;
  hyphens: none;
}

p {
  font-family: $serif;
  font-size: 17px;
  line-height: 23px;
  max-width: $text-width;
  hyphens: none;
}

small {
  font-family: $serif;
  font-style: italic;
  color: $moonfarmer-navy;
  max-width: $text-width;
  text-align: left !important;
}

a {
  font-family: $serif;
  font-size: 17px;
  line-height: 23px;
  font-weight: bold;
  max-width: $text-width;
  hyphens: none;
  background: #C8FFF3 !important;
  color: $moonfarmer-navy !important;
  padding: 2px;
  margin: -2px;
  border-radius: 2px;
  &:hover, &:focus {
    background: #ADF6E6 !important;
    color: $moonfarmer-navy !important;
  }
}

.button {
  table td {
      border: 0px !important;
      background: #fff !important;
      padding: 20px 0;
  }
  a {
    background-color: #F0F2FE !important;
    border: $moonfarmer-navy solid 2px !important;
    border-radius: 8px;
    color: $moonfarmer-navy !important;
    font-family: $sans !important;
    font-color: $moonfarmer-navy !important;
    font-size: 14px;
    transition: background-color 0.5s ease;
  }
  &:hover, &:focus {
    a{
      background-color: #CDD0E4 !important;
    }
  }
}

.patches {
  a {
    background: #fff !important;
  }
}

.wrapper.secondary {
  background: #f3f3f3;
}
