---
subject: Moonfarmer State of Business
---

<container>
    <spacer class="outer-box" size="16"></spacer>
    <center class="outer-box">
      <img src="assets/img/inline_logo.png" alt="Moonfarmer"/>
    </center>
    <spacer class="outer-box" size="16"></spacer>

  <spacer size="16"></spacer>


  <row>
    <columns>

   <!--OPENING SECTION -->
      <spacer size="30"></spacer>
      <h1 class="text-center">After Twelve New Moons...</h1>
      <center>
        <img src="assets/img/dan_and_kale.jpg" alt="two astronauts waving from the moon">
      </center>

      <spacer size="16"></spacer>
      <center>
        <p>This is Kale Kaposhilin and Dan Stone from Moonfarmer, Evolving Media Network, the <a href="https://meetup.com/hvtech" target="_blank">Hudson Valley Tech Meetup</a>, <a href="catskillsconf.com" target="_blank">Catskills Conf</a> and more.</p>
        <p>A year after the launch of our digital creative studio <a href="https://moonfarmer.com" target="_blank">Moonfarmer</a> we wanted to personally fill you in on what we’re excited about.</p>
      </center>
 <!--END OPENING SECTION -->

 <!--START REBRAND ANNOUCEMENT SECTION -->
      <spacer size="30"></spacer>
      <center>
        <h2>It’s been a great year for us. </h2>
        <p>Moonfarmer was a rebranding of <a href="https://evolvingmedia.net" target="_blank">Evolving Media Network</a>’s creative digital studio. Here’s what that means:</p>
        <p>Moonfarmer is a creative digital studio that specializes in handmade <strong>websites, applications, and art</strong>.</p>
        <p>We knew that the network had become much bigger than we ever imagined with all of our projects, so we split off our digital product development studio into a new brand and identity.</p>
        <p>We love our new identity as Moonfarmer. Through it we have new projects, people, and ideas in our orbit.</p>
        <button class="cta" href="https://dispatch.moonfarmer.com/farming-on-the-moon-defining-identity-at-a-multifaceted-tech-company-65d3c6351145">Learn more about our rebranding as Moonfarmer</button>
      </center>
  <!--END REBRAND ANNOUCEMENT SECTION -->

  <!--START WORK SECTION -->
       <spacer size="30"></spacer>
       <center>
         <h2>We’re doing work that we’re thrilled about.</h2>
         <p>For the past 14 years we've been bringing ideas to life. We create digital products for brands who work to build a better world, from Fortune 500 companies, to mission-driven non-profits like the <a href="http://www.youngfarmers.org/" target="_blank">National Young Farmer's Coalition</a>, to artist/philanthropists like <a href="https://peterbuffett.com" target="_blank">Peter Buffett</a>. </p>
         <p>And – everything we do is imbued with meaning, community, and love. We couldn’t be more proud to be headquartered in the Hudson Valley. We’re in partnership with the Evolving Media Network to continue to build the Hudson Valley creative community and economic corridor for generations to come. </p>
         <p>Here’s some unique and specialized work that we did over the past year that we’re thrilled about:</p>
         <row class="patches">
          <columns>
            <a href="https://www.americashealthrankings.org/" target="_blank">
              <img src="assets/img/ahr-patch.png" alt="America's Health Rankings"/>
            </a>
          </columns>
          <columns>
            <a href="http://peterbuffett.com" target="_blank">
              <img src="assets/img/peter-patch.png" alt="Peter Buffett"/>
            </a>
          </columns>
         <columns>
           <a href="https://play.google.com/store/apps/details?id=com.hudsonvalleyweather.app&hl=en" target="_blank">
             <img src="assets/img/hv-weather.png" alt="Hudson Valley Weather"/>
           </a>
         </columns>
         <columns>
           <a href="https://radiokingston.org" target="_blank">
             <img src="assets/img/rk.png" alt="Radio Kingston"/>
           </a>
         </columns>
         <columns>
           <a href="https://wave.vote" target="_blank">
             <img src="assets/img/wave.png" alt="wave.vote"/>
           </a>
         </columns>
       </row>
       <button class="cta" href="https://moonfarmer.com/work">Check out more about our new partners from 2017.</button>
       </center>
   <!--END WORK SECTION -->

   <!--START TEAM SECTION -->
   <spacer size="30"></spacer>
   <center>
     <h2>Our team has us over the moon.</h2>
     <spacer size="15"></spacer>
     <img src="assets/img/team.jpg" alt="This is our team!"/>
     <spacer size="30"></spacer>
     <p> Moonfarmer is now a mid-sized shop at 15 and growing. </p>
     <p>We’ve launched a comic strip drawn by our own Digital Artist <a href="https://moonfarmer.com/crew/andre-malkine" target="_blank">Andre Malkine</a> and team titled <i>Bootprints</i>.</p>
     <p>This year we had many new additions to our team! We are now joined by project manager <a href="https://moonfarmer.com/crew/drew-bancroft" target="_blank">Drew Bancroft</a> and had <a href="https://moonfarmer.com/crew/teal-hutton" target="_blank">Teal Hutton</a> return to us. We also added to our Production team with the addition of <a href="https://moonfarmer.com/crew/andrea-duquette" target="_blank">Andrea Duquette</a>, <a href="https://moonfarmer.com/crew/brandon-walsh" target="_blank">Brandon Walsh</a>, and <a href="https://moonfarmer.com/crew/pablo-javier-marti-cordero" target="_blank">Pablo Marti</a>. This month we were joined by our first ever Business Development & Marketing Associate, <a href="https://moonfarmer.com/crew/erin-barth-dwyer" target="_blank">Erin Barth-Dwyer</a>.</p>
     <p>We love our crew.</p>
     <p>And we’re open to growing. Do you want to join our team? We invite you to share your skills with us:</p>
     <button class="cta" href="https://moonfarmer.com/careers">Join us at moonfarmer.com/careers</button>
   </center>
   <!--END TEAM SECTION -->

   <!--START TELL YOUR FRIENDS -->
   <spacer size="30"></spacer>
   <center>
     <h2>Do you need a website, app, or art?</h2>
     <img src="assets/img/watering.png" alt="Some Moonfarms nourishing your project"/>
     <p>We sent this note to you because we believe in you and what you’re doing.</p>
     <p>Moonfarmer is a creative digital studio that specializes in handmade websites, applications, and art.</p>
     <p>We take ideas and bring them to life. We enjoy problem solving for human success through intuitive design and artful engineering. We are storytellers who customize each digital experience that we create with care.</p>
     <p>And we’d love to work with you.</p>
     <p><a href="https://moonfarmer.com/contact" target="_blank">Send us a note</a> or <b>recommend us to a friend</b>.</p>
   </center>
   <!--END TELL YOUR FRIENDS -->

   <!--START T SHIRT -->
   <spacer size="30"></spacer>
   <center>
     <h2>Thanks for reading! Here’s a free t-shirt.</h2>
     <spacer size="15"></spacer>
     <img src="assets/img/shirts.jpg" alt="images of the tshirts we are giving out: one with a DJ Moonfarmer, another with a Moonfarmer Harvesting a carrot, a Moonfarmer riding a tractor, and a Moonfarmer riding a rocket."/>
     <spacer size="30"></spacer>
     <p>In 2017 we found ourselves creatively, and we’d love to celebrate that with you. </p>
     <p>Here’s a free t-shirt that showcases some of our Moonfarmer art:</p>
     <button class="cta" href="https://goo.gl/forms/QdRSCbVuysFK7vpv2">Fill out our form to get yours!</button>
   </center>
   <!--END T SHIRT -->

    <!--CLOSING SECTION -->
     <spacer size="30"></spacer>
     <center>
      <h2>From all of us at the Moonfarm,</h2>
      <spacer size="15"></spacer>
      <img src="assets/img/happy_holidays.png" alt="Happy Holidays, from the Moonfarmers!"/>
      <spacer size="30"></spacer>
      <small>We sent you this message beacause we wanted to share our work with you. We don't plan on sending out a bunch of these, but if you don't want to hear from us, you can <unsubscribe> unsubscribe here</unsubscribe>.</small>
      <br>
      <small>You can also view a <webversion> web version </webversion> of this message in your browser.</small>
      </center>
      <spacer size="20"></spacer>


    <!-- END CLOSING SECTION -->

    </columns>
  </row>
    <spacer class="outer-box" size="45"></spacer>
</container>
